{% extends "main.html" %}

{% block content %}

<form action="add_contact/" method="post">

    {% csrf_token %}

    <fieldset>

        <legend>Add Contact</legend>

        <div class="form-group">
            <label for="contactName">Contact Name</label>
            <input type="text" class="form-control" id="contactName" name="contactName" placeholder="Enter Name">
        </div>

        <div class="form-group">
            <label for="contactNumber">Contact Number</label>
            <input type="number" class="form-control" id="contactNumber" name="contactNumber"
                placeholder="Enter Number">
        </div>

        <button type="submit" class="btn btn-success">Add Contact</button>

    </fieldset>

</form>








{% endblock content %}